# Imports

In [1]:
import numpy as np
import pandas as pd

# Load Data

In [2]:
df = pd.read_csv('or.csv')

In [3]:
df = df.dropna(subset=['cid'])

# Feature Creation

## Spending Score

In [10]:
spending_df = df.iloc[:, [5,6]]

spending_score = spending_df.groupby('cid').sum()
spending_score = spending_score.reset_index()
missing_spending = spending_score[spending_score['cid'].isnull()]

In [5]:
missing_spending

Empty DataFrame
Columns: [cid, price]
Index: []

According to our _boxplot_ the hupper bound of the spending score should be __1061.65__, the rest of the observations is outliers.

In [12]:
spending_score = spending_score[spending_score['price'] <= 1061.65]

## Frequency Score

In [13]:
frequency_df = df.iloc[:, [1,6]]

frequency_score = frequency_df.groupby('cid').count()

According to our boxplot the hupper bound of the frequency score should be __328__, the rest of the observations is outliers.

In [16]:
frequency_score = frequency_score[frequency_score['inv'] <= 328]

## Merging both features

In [18]:
new_df = pd.merge(frequency_score, spending_score, on='cid', how='inner')

new_df = new_df.rename(columns={'inv': 'frequency_score', 'price': 'spending_score'})
new_df.head()

       cid  frequency_score  spending_score
0  12346.0               48          580.44
1  12347.0              253          644.16
2  12348.0               51          193.10
3  12350.0               17           65.30
4  12351.0               21           49.46

# Exports

In [19]:
new_df.to_csv('spending_frequency_score.csv')